
.app {
    height: 500px;
    background-color: rgb(247, 248, 250);

}
.router1{
  flex-direction: row;
    display: flex;
  
    
    
}

.router2 {
    position: relative;
    margin-right: 4px;
    margin-bottom: 4px;

}

.setting-button{
    padding: 3px;
    border-radius: 50%;
    /* settings button position */
    margin-left: 1000px;
    
}
    .setting-button:hover {
        background-color: lightgrey;

    }


    .side-bar1 {
        width: 0;
        background-color: darkgray;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .side-bar{
        width: 18rem;
        margin: 5px;
        padding: 3px;
        position: fixed;
        box-shadow: 10px 10px 15px rgba(158, 156, 156, 0.3);
      }
  
      .nav-bar{
       
      }

