
.parts {
    display: flex;
    margin: 10px;
    height: 560px;
    border-radius: 2px;
    
   
    
    
}
.left-part {
    padding: 5px;
    background-color: rgb(223, 235, 235);
    width: 300px;
    box-shadow: 5px 10px 10px rgb(229, 213, 213);
    
    
}
.search-bar{
    padding: 5px;
    width: 1000px;
    height: 60px;
    background-color: rgb(251, 251, 251);
    
    

}
.content-part{
    padding: 5px;

    width: 1000px;
    height: 480px;
    background-color: rgb(223, 249, 249);
  

}